body{
	background-color: #131313;
	color: #DCDCDC;
}
h1{
	font-size: 50px;
	font-family: Arial;
}
p{
	font-size: 20px;
	font-family: Arial;
}
button {
	margin-top: 5%;
	padding: 10px;
	background-color: transparent;
	color: #DCDCDC;
	border-radius: 10px;
	border-color: #DCDCDC;
	font-size: 25px;
	cursor: pointer;
}
button a{
	text-decoration: none;
	color: #DCDCDC;
}
button a:visited{
	text-decoration: none;
	color: #DCDCDC;
}
button:hover{
	background-color: #e50914;
	color: #DCDCDC;
	border: none;
	text-decoration: none;
}
section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card{
	width: 50%;
	margin-left: 5%;
	text-align: left;
}