* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #0e0e0e;
}

.logo {
  max-width: 5rem;
}

button{
  border-radius: 5px;
  height: 50px;
  width: 100px;
  background-color: #E50914;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #d8d8d8;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: #ffffff;
  }

  .cerrar-menu {
      color: #ececec;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: #ecececec;
  }
}