* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
body{
  background-color: #000;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 1;
}
.logo{
  width: 150px;
  cursor: pointer;
}
nav button{
  background: #db0001;
  border: 0;
  color: #FFF;
  outline: 0;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}
nav button a{
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
	color: #DCDCDC;
  display: flex;
  align-items: center;
}
nav button:hover{
	color: #DCDCDC;
	border: none;
	text-decoration: none;
  animation: fadeIn .7s ease;
  background-color: #a8070f;
}
@keyframes fadeIn {
  0%{background-color: #db0001;}
  100%{background-color: #a8070f;}
}

.busqueda{
  background: #FFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}
.busqueda input{
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}
.busqueda button{
  background: #db0001;
  border: 0;
  color: #FFF;
  outline: 0;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}
.busqueda button:hover{
  background-color: #a8070f;
  animation: fadeIn .7s ease;
  text-decoration: none;
}
.busqueda button a{
	text-decoration: none;
	color: #DCDCDC;
}
.busqueda button a:visited{
	text-decoration: none;
	color: #DCDCDC;
}
footer{
  padding: 50px 15% 10px;
  border-top: 6px solid #333;
  color: #777;
}
.row{
  display: flex;
  justify-content: space-evenly;
}
footer h2{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
footer .col{
  margin-bottom: 20px;
}
footer .col a{
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}
footer .row{
  align-items: flex-start;
  padding: 10px 0;
}




.row-poster{
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row-posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row-poster:hover{
  transform: scale(1.08);
}

.row-posters::-webkit-scrollbar{
  display: none;
}

.row-posterLarge{
 max-height: 250px; 
}

.row-posterLarge:hover{
  transform: scale(1.09);
}

.row-c{
  color: #fff;
  margin-left: 20px;
}



.banner{ 
  background-image: url("../img/p01.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  object-fit: contain;
  height: 448px;
}

.banner-contenido{
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner-titulo{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner-descrip{
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 180px;
}

.banner-button{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner-button a{
  color: #fff;
  text-decoration: none;
}

.banner-button a:hover{
  color: #000;
  text-decoration: none;
}

.banner-button:hover{
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom{
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent,rgba(0,0,0,0.61),#000);
}



@media (max-width: 720px){
  .logo{
    width: 75px;
  }
  
   .row{
    display: flex;
    flex-direction: column;
  }
  footer h2{
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  footer .col{
    margin-bottom: 20px;
  }
  footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }
  footer .row{
    align-items: flex-start;
    padding: 10px 0;
  }
}