
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background-color: #000000;
}
header {
  width: 100%;
  height: 70px;
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.logo{
  width: 70px;
  cursor: pointer;
}
a{ 
  text-decoration: none;
	color:#b4b4b4;
	font-size: 17px;
	align-self: center;
  font-style: bold;
}
nav a{
  text-decoration: none;
	color: #fff;
	font-size: 20px;
	align-self: center;
}
nav a:hover{
	text-decoration: underline;
	color: #fff;
}

main{
  width: 100%;
  color: #333;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen{
  width: 50%;
  display: flex;
  justify-content: center;

}
.imagen img{
  width: 100%;
  display: flex;
  vertical-align: top;
}
.descripcion{
  width: 50%;
  padding: 30px;
}
.descripcion div{
  margin-bottom: 30px;
  color:#DCDCDC;
}
button{
  border: 0;
  outline: 0;
  margin: 10px;
  background: #db0001;
  color: #FFFFFF;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  border-left: 10px;
  height: 35px;
  cursor: pointer;
}
button a{
  text-decoration: none;
	color: #DCDCDC;
}
button:hover{
	color: #DCDCDC;
	border: none;
	text-decoration: none;
  	animation: fadeIn .7s ease;
 	background-color: #a8070f;
}

.accordion-item{background-color:black;}
.accordion-header{background-color:black !important;}
.accordion-button{
	background-color: #000000;
	color: #DCDCDC;
} 
.accordion-item .accordion-body{
	margin: 1px;
} 
.accordion-button:hover{
	background-color: #db0001;
}


.contenedor{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 70px;
}
.serie{
  width: 200px;
  height: 400px;
  text-align: center;
}
.serie img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.serie h4{
  color: #DCDCDC;
  font-size: 20px;
  margin-bottom: 20px;
}
.serie button{
  align-items: center;
  margin-bottom: 20px;
}

.singleCol { 
	max-width: 750px; 
	margin: 0 auto;
}
footer{
  padding: 50px 15% 10px;
  border-top: 5px solid #252525;
  color: #777;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.row{
  display: flex;
  justify-content: space-evenly;
}
footer h2{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
footer .col{
  margin-bottom: 20px;
}
footer .col a{
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}
footer .row{
  align-items: flex-start;
  padding: 10px 0;
}


@media (max-width: 820px){
  .logo{
    width: 75px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .contenedor{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .serie{
    text-align: center;
    height: 500px;

  }
  .serie img{
    border-radius: 4px;
    margin-bottom: 20px;

  }
  .serie button{
    align-items: center;
    margin-bottom: 20px;
  }


  .row{
    display: flex;
    flex-direction: column;
  }
  footer h2{
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  footer .col a{
    font-size: 18px;
    text-align: left;
  }
}