*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}
body{
	display: flex;
	justify-content: space-around;
	min-height: 100hv;
	background-color: #eee;
}

table{
	text-align: center;
	table-layout: fixed;
	border-color: red;
}
thead{
	background-color: #e50914;
}

button svg:active{
	background-color: transparent;
}
th{
	padding: 10px;
	padding-inline: 15px;
}

main div{
	position: absolute;
}


div .nuevo{
	padding: 10px;
}
div input, div textarea{
	margin: 10px;
	width: 100%;
}

.agregar{
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;	
}

.agregar a{
	text-decoration: none;
	color: #000;
}

.alinear{
	width: 100%;
	justify-content: space-between;
	align-self: center;
}
.dropbtn {
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  justify-content: column;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent;
}



@media (max-width: 740px){
	body{
		display: flex;
		flex-wrap: wrap;
	}
}