body{
	background-color: #1F1F1F;
	color: #DCDCDC;
}
h1{
	font-size: 50px;
	font-family: Arial;
}
p{
	font-size: 20px;
	font-family: Arial;
}
button{
	margin-top: 5%;
	padding: 10px;
	background-color: #1F1F1F;
	color: #DCDCDC;
	border-radius: 10px;
	border-color: #DCDCDC;
	font-size: 25px;
}
section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card{
	width: 50%;
	margin-left: 5%;
	text-align: left;
}